!!!
%html
  %head
    %title Api Strasbourg
    = stylesheet_link_tag 'documentation', media: 'all'
    = javascript_include_tag 'documentation'
    = csrf_meta_tags
  %body
    %aside#menu
      = link_to documentation_root_path do
        =image_tag 'strasbourg.png', class: 'strasbourg logo'
      %h2 CTS
      %ul
        %li= link_to 'Arrêts bus et tram', documentation_page_path(id: 'cts/arrets')
        %li= link_to 'Horraires en temps réel', documentation_page_path(id: 'cts/temps-reel')
    %section#content
      = yield
    = render 'shared/google_analytics'
